@using SampleBlogApp.Data
@using Microsoft.AspNetCore.Components
@using SampleBlogApp.Services.BLL
@using System.Security.Claims
@inherits BaseComponentPage
@inject BlogPostServices BlogPostServices;
@page "/blog/add"
@attribute [Authorize]

<h3>Add Blog Post</h3>
<BlogFormComponent BlogPost="BlogPost" OnValidSubmit="HandleValidSubmit" />

@BackButton


@code {
    private BlogPostDTO BlogPost { get; set; } = new BlogPostDTO();

    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationState { get; set; }


    private async Task HandleValidSubmit(BlogPostDTO valid)
    {
        if (AuthenticationState != null)
        {
            var authState = await AuthenticationState;
            var user = authState.User;
            var userId = user.FindFirstValue(ClaimTypes.NameIdentifier);
            BlogPost.User = new UserDTO { Id = userId };

            var result = await BlogPostServices.CreateBlogPostAsync(valid);
            if (result.Success)
            {
                _navManager.NavigateTo($"/blog/view/{result.Data}");
            }
            else
            {
                //Error stuff
            }

        }



    }

}
