@page "/"
@using SampleBlogApp.Data
@using SampleBlogApp.Services.BLL
@inherits BaseComponentPage
@inject BlogPostServices BlogPostServices;

<PageTitle>Index</PageTitle>


<h1>Hello, world :)</h1>

Welcome to your new app.

This is a sample blog app.


@code
{

}
